<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         stopOnError="true"
         stopOnFailure="true"
         colors="true"
         verbose="true">

  <!-- used by env console info -->
  <php>
    <env name="LINES"   value="50"/>
    <env name="COLUMNS"   value="72"/>
  </php>

  <testsuites>
    <testsuite name="All">
      <directory suffix="Test.php">tests</directory>
    </testsuite>

    <testsuite name="Components">
      <directory suffix="Test.php">tests/CLIFramework/Component</directory>
    </testsuite>

    <testsuite name="DemoApp">
      <directory suffix="Test.php">tests/DemoApp</directory>
    </testsuite>

    <testsuite name="TestApp">
      <directory suffix="Test.php">tests/TestApp</directory>
    </testsuite>

  </testsuites>

  <filter>
      <whitelist>
          <directory>./src</directory>
          <exclude>
              <directory>./src/CLIFramework/Testing</directory>
              <directory>./src/PHPBrew</directory>
              <directory>./build</directory>
              <directory>./composer</directory>
              <directory>./tests</directory>
              <directory>./travis</directory>
              <directory>./vendor</directory>
          </exclude>
      </whitelist>
  </filter>

</phpunit>
